<footer>
  <div class="row">
    <div class="col-lg-12 text-center">
      <p>&copy; 2016 Rubiik's Blog. All rights reserved. Developed by <a href="http://rubiik.com">Rubiik</a></p>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</footer>